body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(src/background.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.mordecai{
  position:absolute;
  background-image: url(src/mordecaiPic.png);
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px
}

.rigby{
  position:absolute;
  background-image: url(src/rigby.png);
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 255px
}

.pops{
  position:absolute;
  background-image: url(src/pops.png);
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 255px
}
